.input-boxes {
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 250px;
}
.main-buttons {
  background-color: rgb(0, 123, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
}
.hide-button {
  background-color: rgb(108, 117, 125);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 5px;
}
