.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.no-messages {
  text-align: center;
  color: gray;
  margin-top: 20px;
}
