.welcome-part-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
}
.main-buttons-container {
  display: flex;
  gap: 10px;
}
.password-container {
  display: flex;
  align-items: center;
}
.input-container {
  display: flex;
  margin-left: 50px;
  gap: 5px;
  flex-direction: column;
}
